body {
  background-color: #3a4965;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  padding-top: 50px;
}
.table-page {
  margin-bottom: 60px;
}
.item-table1 {
  background-color: #fafafa;
  width: 313px;
}
.text-table1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 51px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #484848;
}
.text-table2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #484848;
}
.item-table-name span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.item-table-name {
  height: 73px;
}
.name1 {
  width: 284px;
  text-align: center;
  background-color: #89c331;
  padding-top: 27px;
  padding-bottom: 15px;
}
.name2 {
  width: 283px;
  text-align: center;
  background-color: #f04a56;
  padding-top: 24px;
  padding-bottom: 19px;
}
.name2 span {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}
.name3 {
  width: 277px;
  text-align: center;
  background-color: #20807c;
  padding-top: 27px;
  padding-bottom: 15px;
}
.price {
  font-weight: 700;
  font-size: 60px;
  line-height: 28px;
  color: #484848;
  margin-top: 26px;
  padding-bottom: 13px;
}
.cent {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
  position: relative;
  bottom: 38px;
  left: 0;
}
.value {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #484848;
  position: relative;
  right: 33px;
  bottom: 15px;
}
.line2 {
  background-color: #fafafa;
}
.item-table2 {
  padding-top: 26px;
  padding-left: 29px;
  position: relative;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #484848;
}
.line3 {
  height: 72px;
  text-align: center;
  background-color: #f2f2f2;
}
.line4 {
  height: 72px;
  text-align: center;
  background-color: #e3e3e3;
}
.title-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1::before {
  content: url(../image/1.png);
  padding-right: 4px;
}
.text2::before {
  content: url(../image/2.png);
  padding-right: 4px;
}
.text3::before {
  content: url(../image/3.png);
  padding-right: 4px;
}
.text4::before {
  content: url(../image/4.png);
  padding-right: 4px;
}
.text5::before {
  content: url(../image/5.png);
  padding-right: 4px;
}
.text6::before {
  content: url(../image/6.png);
  padding-right: 4px;
}
.line-footer {
  height: 109px;
  text-align: center;
}
.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 9px;
  width: 195px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.item-table4 {
  background-color: #dddddd;
}
.item-table5 {
  background-color: #eeeeee;
}
.item-table6 {
  background-color: #f4f4f4;
}
.contact-link {
  background-color: #484848;
  border-bottom: 9px solid #404040;
}
.buy-link1 {
  background-color: #89c331;
  border-bottom: 9px solid #79b027;
}
.buy-link2 {
  background-color: #f04a56;
  border-bottom: 9px solid #df3a46;
}
.buy-link3 {
  background-color: #20807c;
  border-bottom: 9px solid #16736f;
}

.table-page {
  border-collapse: collapse;
}
.table-page td {
  border-right: 1px solid #dddddd;
}
.line1 td {
  border: none;
}
.line1 td:first-child {
  border-right: 1px solid #dddddd;
}
.table-text1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
  display: flex;
  flex-direction: column;
}
.table-text0 {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #484848;
}
.table_text0 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #484848;
  margin-top: 0;
  margin-bottom: 0;
}
.table-title {
  margin-bottom: 20px;
}
.table-line1 {
  height: 170px;
}
.table-line {
  height: 110px;
}
.table-item1 {
  width: 200px;
  text-align: center;
  background-color: #fafafa;
}
.table-item {
  text-align: center;
  width: 160px;
}
.table-text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.table-item:nth-child(2n) {
  background-color: #e3e3e3;
}
.table-item:nth-child(odd) {
  background-color: #f2f2f2;
}
.table-title {
  border-collapse: collapse;
}
.table2 {
  border-collapse: collapse;
}
.table2 td:nth-child(n) {
  border-bottom: 2px solid #dddddd;
}
.table2 td:first-child {
  border: none;
}
.table-text01::before {
  content: url(../image/1.png);
}
.table-text02::before {
  content: url(../image/2.png);
}
.table-text03::before {
  content: url(../image/3.png);
}
.table-text04::before {
  content: url(../image/4.png);
}
.table-text05::before {
  content: url(../image/5.png);
}
.table-text06::before {
  content: url(../image/6.png);
}
.table-item2 {
  background-color: #89c331;
  text-align: center;
}
.table-text-price1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 3px;
}
.price1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #ffffff;
  position: relative;
}
.cent1 {
  position: relative;
  bottom: 15px;
  right: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.value1 {
  position: relative;
  bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}
.black-button {
  display: inline-block;
  margin-top: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  background-color: #414141;
  border-radius: 5px;
  padding: 8px 35px 3px;
  border-bottom: 5px solid #343434;
  text-transform: uppercase;
}
.table-item3 {
  background-color: #f04a56;
  text-align: center;
  width: 200px;
}
.table-item4 {
  background-color: #20807c;
  text-align: center;
}
.block2 {
  padding-bottom: 50px;
}
